/src/MvcTemplate.Web/wwwroot/js/application/**/*.min.js
/src/MvcTemplate.Web/wwwroot/js/private/
/src/MvcTemplate.Web/wwwroot/js/public/

/src/MvcTemplate.Web/wwwroot/css/application/**/*.min.css
/src/MvcTemplate.Web/wwwroot/css/private/
/src/MvcTemplate.Web/wwwroot/css/public/
/src/MvcTemplate.Web/Logs/
node_modules/
.vscode/
.vs/
bin/
obj/

*.user
*.suo
